[2020-02-12 12:43] wickstargazer opened #1 "Make destroy command work"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
- [x] Add destroy command for serverless
- [x] update readme/docs for release
**Describe alternatives you've considered**
A clear and concise

[2020-02-12 12:44] wickstargazer opened #2 "Add schematics template files for GCP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ch

[2020-02-12 12:45] wickstargazer opened #3 "Add schematics template files for Azure"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ch

[2020-02-12 12:49] wickstargazer opened #4 "Add angular universal schematic template to serverless app."
**Is your feature request related to a problem? Please describe.**

- [x] Add supprot for `aws-serverless-express`
- [x] Add severless.yml template for this project type
- [x] Add universal server.ts template for angular universal
- [x] Add test to make sure schema.json is correct
- [ ] Edit Docs/Readme for release

**Describe the solution you'd like**
A clear and concise description of what you w

[2020-02-12 12:57] wickstargazer opened #5 "Schematics generation for aws-cdk app type"
**Is your feature request related to a problem? Please describe.**

- [ ] Schematic template generation for aws-cdk app

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Check which provider is affected:**
[x] AW

[2020-02-12 12:58] wickstargazer opened #6 "Schematic app generation for native cloud platform"
**Is your feature request related to a problem? Please describe.**

- [ ] Schematic template generation for pulumi app

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Check which provider is affected:**
[ ] AWS

[2020-02-12 12:59] wickstargazer opened #7 "Create builders for pulumi"
**Is your feature request related to a problem? Please describe.**

- [ ] Build runner for pulumi
- [ ] Deploy runner for pulumi
- [ ] Destroy runner for pulumi

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**C

[2020-02-12 13:01] wickstargazer opened #8 "Create builders for aws-cdk app"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- [ ] synth runner for aws-cdk to generate cloud formation template
- [ ] Deploy runner for aws-cdk
- [ ] Destroy runner for aws-cdk

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Descr

[2020-02-12 13:02] wickstargazer opened #9 "Schematics generation for aws-cdk Lambda Nodejs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- [ ] Schematic template for aws-cdk lambda

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative s

[2020-03-05 07:27] ajhool opened #10 "Nx build command freezes when adding @flowaccount/nx-serverless"
First, thank you for putting this plugin together, it will be very useful to our team! We are currently putting together a minimal "todo list" nx app with the serverless/sls plugin and have very few, if any, changes to the codebase after the setting up the default nx templates.

Initial nx configuration:

[code]

**The following deploy command is successfully deploying the serverless app.**

`yarn

[2020-03-05 15:21] ajhool commented on #10
As far as I can tell, the nx "exclude" flag is also not working correctly, so the workaround that I am currently using in CI is to use the --projects flag rather than the -all flag and to list every project except for the sls project.

[code]

[2020-03-12 20:15] wickstargazer commented on #10
This has been fixed in the latest release :)
Its the `watch: true` flag that has been defaulted into the build options, for now you can remove it from workspace.json or angular.json

Exciting release is coming up, can deploy angular universal! :D Thank you for showing interest!

[2020-03-12 20:27] ajhool commented on #10
@wickstargazer Thank you very much! I will test it out and close this issue on success. I'm in active development on this product right now and am finding that deploy is also failing in a Gitlab CI (lambci/) environment so I will make an issue for that, too.

[2020-03-12 20:31] wickstargazer opened #11 "[FEAT] Aws-cdk api gateway binary to support web applications"
**Is your feature request related to a problem? Please describe.**
Need to implement cdk to create api gateway binary */* for html/web universal apps.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Check which provider is affected:**
[x] AWS
[] Azure
[] Google Cloud Platform

**Check which framework is affected:**
[x] Angular
[] Nodejs
[] Serverless
[x] Lambd

[2020-03-12 20:32] wickstargazer opened #12 "[FEAT] Circle CI setup for the repository"
**Is your feature request related to a problem? Please describe.**
Make repository work with circle ci and git action for continous integration.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Check which provi

[2020-03-12 20:33] wickstargazer opened #13 "[FEAT] Example application to be added to this repository itself!"
**Is your feature request related to a problem? Please describe.**
Add example applications for multiple clouds to the repository for guide and useful documentaitons

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2020-03-15 08:37] wickstargazer commented on #10
@ajhool  this bug is fixed in `0.4.0`

the schematics is changed from `nx generate @flowaccount/nx-serverless:application`
to `nx generate @flowaccount/nx-serverless:api-serverless`

if you think that does not make sense please recommend.

also if you are using on an existing repo, you have to remove the `watch:true` from the build architect.
Basically, that was the bug.

I will close the issue fo

[2020-03-15 08:37] #10 closed

[2020-03-15 17:36] ajhool commented on #10
@wickstargazer thanks for the update. Sorry for not getting back to this issue, I have been tracking down some other issues, most of which were AWS permissions + serverless config. However, it would be really helpful to see serverless verbose output in the terminal but I haven't found a way to do that with `nx run-many --target=deploy`, any ideas? I can open a new issue for logging if you would li

[2020-03-15 17:42] wickstargazer commented on #10
try export SLS_DEBUG=true

[2020-03-15 19:44] wickstargazer commented on #4
done in release [0.4.5](https://github.com/flowaccount/nx-plugins/releases/tag/0.4.5)

[2020-03-15 19:44] #4 closed

[2020-03-15 19:47] wickstargazer commented on #1
Working for aws in release [0.4.5](https://github.com/flowaccount/nx-plugins/releases/tag/0.4.5)

[2020-03-15 19:47] ajhool commented on #10
Even with SLS_DEBUG=true, the output of `nx run-many --target=deploy --all` fails silently

[code]
Whereas a native `serverless deploy` provides useful information on the failure:

[code]

I will open a new issue for this one.

[2020-03-15 20:01] ajhool opened #15 "[BUG] Debug output from serverless (sls) is not provided"
**Describe the bug**
When using the `nx run-many --targets=deploy --all` command, deployments can fail silently. The failures are usually correct, eg. bad underlying `serverless.yml` file, but there is no way to debug the failure without the log output from serverless.

**To Reproduce**

[code]

Add an error to the serverless.yml file, like this badly indented "vpc" parameter:

[code]

**Expected

[2020-03-16 19:54] ajhool commented on #15
@wickstargazer

This is becoming a pressing issue for us because we can't deploy due to an error but can't find error output.

(i) Where in the code should we be looking for the issue?

(ii) We are finding that running `serverless deploy` in the `apps/my-api` folder is succeeding but running `nx run-many --target=deploy --all` is failing. We have two nx serverless apps and only one is failing with

[2020-03-18 17:26] wickstargazer commented on #15
Hi, sorry for the late reply, been some hectic days without coding!

Can I have a sample repo? or if there is a `serverless.yml` i can use to reproduce the problem?

Also which version of serverless are you using? I found a bug since it was written for 1.5 and they changed the way the --options are passed in, fixing that as we speak.

Also looking into the debug flag :)

Please let me know if you

[2020-03-19 11:28] wickstargazer commented on #15
Hey @ajhool i found the issue
the `is-builtin-module` is missing in the `package.json` dependency of the lib.

It is fixed in `0.4.61`

I am really sorry it got delayed and i pretty much screwed up 😞

Anyways please let me know if can help with something else 🍡

[2020-03-19 23:26] ajhool commented on #15
Nice find!

This was a remarkably quick response and patch, thank you and there is of course no need for apologies :)

It might be an issue with integrating the latest patch into our existing project, but I am still seeing the same or a similar issue with the most recent update. I will set up a demo repo right now to (a) see if a new project resolves the issue and (b) use as a repro environment

L

[2020-03-27 06:50] wickstargazer commented on #15
any updates @ajhool ?

[2020-04-06 15:00] wickstargazer commented on #15
Hi @ajhool i will consider this as closed? ..since i havent heard from you for a while, we can always re-open it and i can help you get the setup right :D

[2020-04-06 15:00] #15 closed

[2020-04-20 21:36] wickstargazer commented on #12
Done

[2020-04-20 21:36] #12 closed

[2020-04-20 21:37] wickstargazer commented on #1
done

[2020-04-20 21:37] #1 closed

[2020-05-12 08:48] amyloula opened #17 "An unhandled exception occurred: Cannot read property 'cli' of undefined"
https://github.com/flowaccount/nx-plugins/blob/df7b74f4728ed356f6c8cc81150ded3c19234bd2/libs/nx-serverless/src/utils/normalize.ts#

Running `nx serve <app-name>` or `nx build <app-name>`

throws a TypeError:

[code]

Log:

[code]

[2020-05-19 00:47] wickstargazer commented on #17
Hi! I will look into it, i think its the serverless verions can you help post the version of thr serverless you are using?

[2020-05-19 03:08] wickstargazer commented on #17
@amyloula I found the issue, it was trying to log `WARNING: More than one matching handlers found for '${fileName}'. Using '${_.first( sortedFiles)}'.`

and it was referring to a wrong instance of serverless, i fixed it, it will be released in the next version.

Thankz for the report! Cheers

[2020-05-19 07:51] amyloula commented on #17
That’s great, thanks very much!

[2020-05-29 09:32] wickstargazer opened #18 "[BUG] Serverless exclude sections are not working as expected"
**Describe the bug**
[code]

the exclude is not getting excluded

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Check which provider is affected:**
[x] AWS

[2020-05-29 09:33] wickstargazer commented on #18
What behavior should it have when the exclude and handler is overlapping? lets say someone by mistake wants to exclude `src/handler.hello` while still have it in the section like below?
[code]

[2020-05-29 21:11] sonicparke commented on #18
Maybe a warning on build that says you are excluding the function you're trying to build?

[2020-06-05 15:21] deviant32 opened #19 "[BUG]"
How do I pass in a stage when trying to deploy?  I am running `nx deploy sls-cognito-triggers --stage=staging` but every time it deploys, it deploys to dev.

[2020-06-05 15:38] wickstargazer commented on #19
Hi you can use ‘env.json’ and add ‘stage’ property to it

Or you can also add ‘stage’ property to the ‘angular.json’ configuration section of deploy

[2020-06-09 10:07] wickstargazer commented on #17
fixed in 0.5.0

[2020-06-09 10:07] #17 closed

[2020-06-09 10:09] wickstargazer commented on #18
@sonicparke Thankz for the feedback, now it is fixed in version `0.5.0`
It will throw a `warning`, actually `excludes` it and if no handler is left throws an `error`
Will keep this open until we tested it out! 😄

[2020-06-09 10:09] wickstargazer commented on #19
@deviant32  I have added the sample config in the `Readme` for nx-serverless as well. Hope it clarifies things for future users! I will close this now! 👍

[2020-06-09 10:09] #19 closed

[2020-06-09 10:10] #5 closed

[2020-06-09 10:10] #8 closed

[2020-06-11 09:28] hiepinnomizetech opened #23 "[BUG] Can't include a yml function file."
**Describe the bug**
Can't include a yml function file.

**To Reproduce**
I move below code to hello-world.yml
`
hello-world:

    handler: src/functions/hello-world/hello-world.handler

    events:

      - http:

          path: hello-world

          method: get
`
And update serverless.yml
hello-world: '${file(/src/functions/hello-world/hello-world.yml)}'

**Expected behavior**
serverless.yml w

[2020-06-11 09:53] wickstargazer commented on #23
Could you help paste a reference to serverless importing yml as function? I dont think i considered this feature when building it as we don't use it. But I would be happy to in-corporate it into the library! 😄

[2020-06-11 11:22] hiepinnomizetech commented on #23
I have created an example at https://github.com/hiepinnomizetech/nx-serverless
In this example, I separate AWS cloud formation to 3 files serverless.config.yml, hello-world.yml and serverless.yml. But I think file() function isn't supported by this plugin (https://www.serverless.com/framework/docs/providers/aws/guide/variables#reference-variables-in-other-files).

I hope you can include this featu

[2020-06-11 20:32] codephobia opened #24 "[FEAT] Ability to pass in the path of tsconfig.json for scully-plugin-angular-delay"
**Is your feature request related to a problem? Please describe.**
Currently when using scully-plugin-angular-delay with an app that is in a yarn monorepo, the tsconfig.json lives outside of the package folder (scully root path). This throws an error as we do not have any way to pass in the correct path of the file.

**Describe the solution you'd like**
Ability to pass in the path for the tsconfig

[2020-06-14 02:47] KingDarBoja opened #25 "[BUG] nx-serverless addUniversal option"
**Describe the bug**
The current [docs](https://github.com/flowaccount/nx-plugins/tree/master/libs/nx-serverless#to-deploy-an-existing-angular-application-adding-ng-universal-in-the-process) for the `nx-serverless` schematic are wrong at the `addUniversal` option. It does accept a boolean instead of **yes** as stated.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new nx-workspace

[2020-06-14 19:56] KingDarBoja commented on #25
@wickstargazer I found another bug while testing the differences between starting a empty workspace and using an preset (Angular), should I open another issue? It is pretty much about the `nx add` command.

For this issue, I picked the Angular preset but if you pick the empty one, add the `@nrwl/angular` and create an Angular app, the command to run the `nx-serverless` schematic is different.

`nx

[2020-06-15 02:28] wickstargazer commented on #25
hmm you can keep it in the same issue, since the first one is very minor ... would you like to help investigate?
I have seen that before .. but not sure where its coming from. Maybe an e2e test would show the error.

[2020-06-15 12:51] wickstargazer commented on #24
That would be a nice touch...would you like to do a PR? I can walk you through it :)

If not i will get to it in a week time

[2020-06-15 14:39] KingDarBoja commented on #25
@wickstargazer No problem, I can take a look at it.

My purpose is to check if this plugin can be used as replacement of [ng-toolkit](https://github.com/maciejtreder/ng-toolkit) as me being one of the current maintainers (the only one since the author is too busy) been looking at the new changes at Angular Universal v9.

Yesterday I tested this plugin over a sample Angular project (had to do some

[2020-06-15 14:54] wickstargazer commented on #25
The universal serve-ssr for local is not supposed to be used as this lib helps deploy it to serverless

I had some issues with hotload though but that can be fixed. To browse locally use the offline command, it helps runs the serverless up.

If you want to use the serve-ssr you will have to edit the server.ts and uncomment the call to app() function so it starts the express server

With serverless

[2020-06-15 15:15] KingDarBoja commented on #25
Thanks for the response, I will try as soon as possible. This plugin could indeed save some headache and extra schematics library as this is more up-to-date but lacking the other two main serverless configs that ng-toolkit has. Once again, I have been idle and haven't update the library so probably those two need some revamp as well as my main test environment was AWS.

[2020-06-15 15:22] wickstargazer commented on #25
Can you show me the config because this plugin is suppose to deploy it into lambda and i am using it in production

[2020-06-15 17:39] KingDarBoja commented on #25
@wickstargazer I haven't tested the deployment step at the moment, I will try later as busy with some job stuff at the moment.

Regarding using `build:ssr` / `serve:ssr` on **non-nx workspaces** (aka a single Angular App), I have the following config on my package.json:

<details><summary> package.json </summary>

[code]

</details>

Notice how adding universal schematics (which is called inside t

[2020-06-15 23:20] KingDarBoja commented on #25
Looks like the correct steps to run any schematic from `@flowaccount/nx-serverless` requires to do the following:

- Create a workspace (by either using npx, npm, yarn).
  - If it is a empty workspace, add your [Angular](https://nx.dev/angular/plugins/angular/overview) or [React](https://nx.dev/angular/plugins/react/overview) plugin as devDependency. In my case, I want to create an Angular app, so

[2020-06-16 16:53] wickstargazer commented on #23
Hi! ... was wonderng is there an error message somewhere? because i check the serverless code, and it seems to be included, but i am having a hunch about the file path that might be screwing up ...

Below is their function ... If you can provide an error or any warning messages? If not I will debug into their code. If you could help out it would be awesome .. 😄

`D:\<your-project>\node_modules\ser

[2020-06-16 17:12] wickstargazer commented on #25
yes that should be the correct step. Otherwise we have to add another option to run `angular schematics` and app bootstrap before adding universal...
What do you think. Also it was aimed for `nx-workspace` projects ... did not consider any workspace :/

[2020-06-18 00:34] KingDarBoja commented on #25
I do think it should be documented for two cases:
- Nx workspace.
- Non-nx workspace (A common Angular App).

For the first case, it should be somewhere as a **important note** for the developer / end-user to be sure both `@nrwl/workspace` and `@nrwl/angular` are available as devDependencies before running the generate schematics.

For the second case, it should be addressed as well but taking int

[2020-06-19 12:00] etavener commented on #24
Hi, great to see this recently merged, I have a similar problem I would like to resolve with this fix. Please can you release this new feature.

[2020-06-20 15:39] etavener opened #27 "[BUG] - Update readme.md to be correct"
**Describe the bug**
In the Readme the command to NPM install should be updated to:
`npm install @flowaccount/scully-plugin-angular-delay --save-dev`

**Check which provider is affected:**

**Check which framework is affected:**
[X] Angular
[] Nodejs
[] Serverless
[] Lambda
[] Infrastructure as a code

**Additional context**

[2020-06-20 17:56] dbartholomae opened #29 "[FEAT] aws-cdk support"
**Is your feature request related to a problem? Please describe.**
I've been working a bit on setting up an aws-cdk builder so I can also manage my infrastructure as code via NX.

**Describe the solution you'd like**
I've now found you nx-aws-cdk builder and schema and would like to avoid double work. What's the status? Do you plan on publishing to npm any time soon?

**Describe alternatives you'v

[2020-06-21 18:01] wickstargazer commented on #29
Hi,

I have been meaning to test it out on starting up an ec2-instance inside our company. I want to publish it asap but could not find the time to test it out properly so dint want to publish a buggy version!

Would be great if you can help out! 😄

Would you want to test out if the schematics and the runner work? and if not maybe adjust it around a little bit? I am planning to add several more sc

[2020-06-21 18:05] wickstargazer commented on #27
I have updated the readme and published `0.0.8`

[2020-06-21 18:05] #27 closed

[2020-06-21 18:06] wickstargazer commented on #24
Hi!, I have published version `0.0.8` please try it out and if it works out let me know! Thankz a ton for the PR! ... @codephobia

[2020-06-21 18:06] wickstargazer commented on #23
Hi @hiepinnomizetech I haven't forgot this, will be looking into it this working week 😄

[2020-06-21 18:07] wickstargazer commented on #18
Hi @sonicparke did you get this to work with your case? Please dont hestiate to leave any mis-endavours that i can be of help with

[2020-06-21 20:13] dbartholomae commented on #29
I've played around a bit and currently aim to get it done without a separate builder by using the [run-commands builder](https://nx.dev/react/plugins/workspace/builders/run-commands). I'm currently a bit stuck on a cwd issue: The jest builder runs tests with the main repo as the cwd, not the specific apps folder. This folder needs to contain the `cdk.json` file, though, and I haven't found a way y

[2020-06-22 02:53] wickstargazer commented on #29
@dbartholomae thats where the builder comes in. Inside it is using `nx-command` but wrapping it around some builders to make sure things work according to what we want and there is a magic 'waitUntilTarget` parameter to help us pick what needs to be done first like the `jest` command :)

[2020-06-30 02:42] hiepinnomizetech commented on #23
@wickstargazer , i have checked and I see serverless has included other files by using file() function. Thank so much!

[2020-07-01 02:42] wickstargazer commented on #29
@dbartholomae so, shoudl we work together to publish its first version this week? :)

[2020-07-01 02:42] wickstargazer commented on #24
ok, will close this until there is some more updates

[2020-07-01 02:42] #24 closed

[2020-07-01 02:43] wickstargazer commented on #23
@hiepinnomizetech so, did you have to add some new package to the `package.json`? If so lets fix it to be a depedency needed for the lib :)

[2020-07-01 07:47] dbartholomae commented on #29
Unfortunately I'm a bit swamped now :-/

[2020-07-08 11:25] hevans90 opened #30 "[FEAT] pre-deploy scripts"
**Is your feature request related to a problem? Please describe.**
Node/Typescript serverless lambda: So I have been playing around with your plugin (it's great!) and trying to use libraries in conjunction with a simple node lambda function that I am deploying to AWS.

My use case is that I want to use a library like `bcrypt` that webpack registers as an `external`, meaning the dependency is gathe

[2020-07-08 16:05] sburke56 opened #31 "[BUG] scully-plugin-google-analytics not installing"
**Describe the bug**
Angular 10
When installing with npm the package doesn't get to the filesystem.  I should see the plus with the package name no?

**To Reproduce**
[code]

**Expected behavior**
Package should be installed.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Check which provider is affected:**
[] AWS
[] Azure
[] Google Cloud Platform

**Check which f

[2020-07-09 03:32] wickstargazer commented on #30
We are actually facing the same issue of having to build some static libraries before deploying! ... I would be looking into it over a few coming weeks.

For now, if you want to just package without deploy, try using the `sls` command?

Also if you have time to help I would appreciate it a lot :smile:

[2020-07-09 03:33] wickstargazer commented on #23
@hiepinnomizetech So should i add some new dependency for the `file()` funciton? i still dint get the answer 😄

[2020-07-09 03:33] wickstargazer commented on #18
@sonicparke shall i close this for now?

[2020-07-09 03:35] wickstargazer commented on #31
hmm ...  i am not sure, i use the `yarn` command. Its an npm package, it should work normally but I can run a quick test for you :)

[2020-07-09 03:36] wickstargazer commented on #25
Hi @KingDarBoja would you like to adjust the plugin to support add? I haven't tested it out further yet, since i moved over to scully. But i would like to fix the `add` command to be more intuitive.

[2020-07-09 03:41] hiepinnomizetech commented on #23
@wickstargazer thanks!
I only tested file() function can load another file data, but I didn't test why it doesn't work in Demo project (I think it is caused by include URL).

[2020-07-09 10:22] hiepinnomizetech commented on #23
@wickstargazer , I have found root cause.
If I use file() function on Lambda function section:
`
functions:
  hello-world: ${file(hello-world.yml)}
`
hello-world.yml will not be loaded because file() function doesn't run.
But if i use file() function on custom section:
`
custom:
  config: ${file(serverless.config.yml)}
`
serverless.config.yml will be loaded.

![image01](https://user-images.githubu

[2020-07-09 12:58] KingDarBoja commented on #25
@wickstargazer Yup, consider it done, I will try to fix it on the weekend :)

[2020-07-09 19:02] wickstargazer commented on #23
Ah ok, yes we can fix that by moving the sequence around a bit

[2020-07-11 09:55] etavener opened #34 "[BUG] scully-plugin-angular-delay"
**Describe the bug**
When I add your plugin to my static site there seems to be a bug.

I get the following console error:
`Uncaught TypeError: scriptsToLoad.forEach is not a function`

The scripts are not loaded at all.

On further investigation, when I look at the code added to my HTML page I see this:

[code]
So I can see the issue is a `forEach` on a string when an array is expected.

I think

[2020-07-11 09:55] etavener commented on #34
If you are happy with this change, then please merge and release a new version.

[2020-07-14 08:34] wickstargazer commented on #34
Hi! ... i can review it and check it out. At the moment i haven't add some plugins into the commitizen config, hence the build is failing... I will do that as well :)

[2020-07-15 09:35] hoang-innomizetech opened #36 "[BUG] Could not check for peer dependencies of x package"
I am getting below warning when deploying our service

[code]

Here is the sample code of my Lambda function

[code]

I have debugged and figured out that the modulePackagePath is invalid (the root dir is duplicated in the path), see below example

modulePackagePath /Users/hoangle/Documents/Working/Source/my-sls-api/Users/hoangle/Documents/Working/Source/my-sls-api/node_modules/serverless-mysql/pa

[2020-07-15 13:04] wickstargazer commented on #36
Can i see your serverless.yml

Also are you trying to deploy by function or the whole thing?

[2020-07-15 13:16] hoang-innomizetech commented on #36
The serverless.yml is straightforward

[code]

The workspace.json also default

[2020-07-15 15:23] sonicparke commented on #18
@wickstargazer Yes. Sorry for the late reply. I got sidetracked. :-)

[2020-07-15 15:24] sonicparke commented on #18
@wickstargazer Things seem to be working fine. I'll definitely let you know if there are any issues. Thanks for the hard work!!

[2020-07-15 21:00] etavener opened #37 "[BUG] Angular 10"
**Describe the bug**
I upgraded my Angular 9 app to Angular 10.

After doing a build with `ng build --prod --stats-json`

I got this error (this error didn't appear before):
[code]

I checked my dist folder and there was a `stats.json` file not a `stats-es2015.json`. I renamed the file to `stats-es2015.json` and the error disappeared.

I think you should just check for both files and use the one t

[2020-07-15 21:23] etavener commented on #37
Additionally, if you checked for `stats.json` first and if that doesn't exist check for `stats-es2015.json` and if neither exists show error. Then you could remove the need for a tsConfig and it's path.

[2020-07-16 04:20] hoang-innomizetech commented on #36
@wickstargazer today I also found a mistake of the normalize util at https://github.com/flowaccount/nx-plugins/blob/56f6d93115171396fcffd9350e59bc4079a6ee2e/libs/nx-serverless/src/utils/normalize.ts#L270

I can submit a PR that fixes both issues. Can I have write access to this repo?

[2020-07-16 04:25] wickstargazer commented on #36
Hi! Would you mind forking it and submitting a PR?

[2020-07-16 04:32] wickstargazer commented on #37
i have to look into tsconfig requirement, however the stats.json is a valid point. We can check both to have backward compatibility :) ...

[2020-07-16 04:35] wickstargazer commented on #37
looked into it quickly, we could make a regex expression for stats.json and remove tsconfig entirely ans you suggest :D

[2020-07-16 04:57] hoang-innomizetech commented on #36
I have submitted a PR to fix two issues, let me know if I need to provide more details

[2020-07-16 04:59] hoang-innomizetech commented on #36
There are two issues on the normalize util
1. The packagePath is a full path, so we can use dirname to get workspace root path
2. Missing the packageJson when calling the getProdModules function

[2020-07-16 09:16] etavener commented on #34
Created new PR with requested updated changes.

[2020-07-16 09:16] etavener commented on #37
Sounds great.

[2020-07-21 17:13] #34 closed

[2020-07-21 17:18] etavener opened #40 "[BUG] Angular Delay plugin - when target is `es5`"
**Describe the bug**
I've come across some issues with a project using this plugin.

The project has a `tsconfig.json` with a `target` that is `es5`.

It only added 1 script to the scripts to load (polyfills as this was the only one with es5 in the name).

I updated the target inside `tsconfig.json` from `es5` to `es2015` and now it works.

**Check which provider is affected:**
[] AWS
[] Azure
[]

[2020-07-21 19:57] etavener opened #41 "[BUG] Angular Delay Plugin - Do you have this working at all? Please share the tsconfig.json"
**Describe the bug**
Hi, I seem to be finding a lot of issues with this library and I'm wondering if it has ever worked.

My angular scripts now load after the delay but no code is executed. For example, I put a console log on a component and it never happens. I also have a form that doesn't work. No Angular code is executed after you load the scripts.

I was wondering if you have this working, pl

[2020-07-22 07:11] wickstargazer commented on #41
Hi we have this working on production --> https://flowaccount.com/

Here is the `tsconfig.json`
[code]

Let me know if you need further assistance, I will be happy to help you out. Or we can remove the tsconfig totally as you suggested? Although I have to test that out first

[2020-07-22 07:13] wickstargazer commented on #40
Yes, i was having the issue with `polyfills` as well. It will add everything that is in `stats.json` if it does not exists in `stats.json` it will have to be manually added. Or is there a more deeper reason I wouldn't know

[2020-07-23 07:58] #36 closed

[2020-07-23 08:00] wickstargazer commented on #36
Hi!, I have published `0.5.1` please see if it works :)

[2020-07-29 03:32] #18 closed

[2020-07-29 03:33] wickstargazer commented on #41
@etavener did you get it to work?

[2020-07-31 10:01] hoang-innomizetech opened #43 "[HELP] I need instruction how to configure debugging with vscode"
Does anyone have any configuration I can use to debug Serverless using this plugin?

[2020-07-31 10:08] hoang-innomizetech opened #44 "I need to add more options when running serve command"
Currently, with the current build target, there is no option available so that I can add more options when running `serverless offline`. For example, I use [serverless-offline-local-authorizers-plugin](https://www.npmjs.com/package/serverless-offline-local-authorizers-plugin) to run the custom authorizer locally, I need to add a custom option after `sls offline` command i.e. sls offline **local-au

[2020-08-03 05:15] wickstargazer commented on #43
Hi you want to debug plugin itself or you code calling the plugin? and which command do you want to debug specifically?

[2020-08-03 05:17] wickstargazer commented on #44
sure i will look into it and probably add it in for you in the next publish? 😄

[2020-08-03 06:15] hoang-innomizetech commented on #44
Thank @wickstargazer. I am getting our team to contribute to your plugin, but they will need some time to catch up and learn how to contribute. In the meantime, if you can add and publish a new version, that would be great.

[2020-08-03 06:15] hoang-innomizetech commented on #43
@wickstargazer Right now we want to debug serve command so that we can debug when running serverless locally. I think it might relate to #44

[2020-08-03 17:53] tstackhouse commented on #44
I'm running into a similar situation with the [cloudside](https://www.serverless.com/plugins/serverless-cloudside-plugin) plugin, so that my CloudFormation template references resolve properly in my local environment, it needs to invoke `sls offline cloudside` and I'm not totally sure of how to accomplish that, if I can.

[2020-08-10 08:22] phong-innomizetech opened #46 "[BUG] Incorrect AWS region value but default value is source-map-support/register"
I tried to use the serverless offline to run the application on local and invoke some AWS Services but It's always got timeout because of the serverless always got region is **source-map-support/register**.

**Check which provider is affected:**
[x] AWS

**Check which framework is affected:**
[x] Nodejs
[x] Serverless

**Additional context**
I am not sure why we need provide the default the argume

[2020-08-10 08:38] wickstargazer commented on #46
i think we can removed it, it must be a mistake when i was implementing the builder, thanks for spotting it out

[2020-08-10 14:59] tstackhouse commented on #46
I have a pending PR to fix this very issue.

[2020-08-11 18:13] wickstargazer commented on #46
I have published version `0.5.2` for this fix :) ... hope it solve the issue and can let me know if it does not Thankz for the PR!

[2020-08-11 18:13] #46 closed

[2020-08-12 00:25] jamesgroat opened #48 "[FEAT] nx-serverless - add ability to exclude modules from generated package.json"
I'd like to be able to exclude modules from the serverless deploy package. I have layers setup that include a lot of modules that I use across multiple functions.

I'd like to be able to specify excluded modules in the build options. There is a `forceExcludes` parameter passed to getProdModules that is always passed in as an empty array `[]`. https://github.com/flowaccount/nx-plugins/blob/0efe67a6

[2020-08-12 08:38] hoang-innomizetech commented on #44
To run a sls command we also use two additional options (--aws-profile and --region), so I think we also need to add two options as well.
For an example: sls deploy --stage sit --aws-profile sit_profile --region us-east-2

[2020-08-21 17:16] tstackhouse opened #49 "[BUG] package.custom not supported in serverless.yml"
**Describe the bug**
In the default serverless.yml generated by nx-serverless, it includes the `custom` key under the `package` property.  In recent versions of serverless, this fails schema validation, as seen in the following output:

[code]

**To Reproduce**
Generate an nx-serverless project using a recent release of serverless (I have observed this in 1.79.0, but this likely also includes othe

[2020-08-23 21:17] stefan-karlsson opened #50 "[BUG] npx nx deploy fails"
**Describe the bug**
The command `npx nx deploy` fails.

I dont have yarn installed on my computer, what do i need to do to use npm?

"@flowaccount/nx-serverless": "^0.5.2",

**Expected behavior**
Want to be able to deploy my web application

**Screenshots**
![image](https://user-images.githubusercontent.com/25538602/90988432-01b7d700-e593-11ea-92d6-85f4d79415b0.png)

**Check which provider is aff

[2020-08-26 05:15] ShaunEdiger opened #51 "[BUG] Reference to tsconfig.json broken; renamed to tsconfig.base.json"
**Describe the bug**
Generated serverless project refers to non-existent `tsconfig.json`.  It appears [a recent commit renamed the file to `tsconfig.base.json`](https://github.com/nrwl/nx/commit/5d53661139756583abb5e8126202ed4e4be357c0).

**To Reproduce**
Steps to reproduce the behavior:

1. Obtain an nx workspace
2. Add a serverless framework project – `npx nx g @flowaccount/nx-serverless:api-ser

[2020-08-26 18:59] wickstargazer commented on #50
Ok! I will take a look at it asap. Also I am looking for some contributors, let me know if you are interested 😄  Since I have been focusing my time into building some company infrastructure, i am a bit off an on but will be improving it since we are mainly serverless atm !

[2020-08-26 19:00] wickstargazer commented on #51
I have gotten into looking on how to support both version 10 and backward compatable for version 9. I will get back to you shortly on when and how the schematics will be fixed 😄
If you would like to collaborate let me know!

[2020-08-26 19:02] wickstargazer commented on #49
Ok that can be removed pretty quickly .. but a question, should we have a backward compatable for serverless version? We are using version older than 1.7 and it does not seems to fail validation or spit out a warning. Or i haven't looked at it enough. I will check it out while running some test.

Thankz!

[2020-08-26 19:03] wickstargazer commented on #41
Hi i thinking you have solved the issue on your end so i will close this for now 😄

[2020-08-26 19:03] #41 closed

[2020-08-26 19:03] wickstargazer commented on #40
Hi i thinking you have solved the issue on your end so i will close this for now 😄

[2020-08-26 19:03] #40 closed

[2020-08-26 19:05] wickstargazer commented on #29
Hi! our team is working through this to get our own infrastructure into nx ... it will be on the branch `testing-cdk-build`

Let us know if you have any input or ideas, we will be glad to help incorporate it! ...

@beamflowaccount  will be the main man looking at it

[2020-08-28 20:32] stefan-karlsson commented on #50
I am happy to help out, but i am in the same situation as you. The work takes alot of my time :)

[2020-08-28 21:27] stefan-karlsson commented on #50
I did a quick look but having some issues installing the solution on Windows as you mentioned in the documentation.

When i [check this code](https://github.com/flowaccount/nx-plugins/blob/master/libs/nx-serverless/src/utils/packagers/index.ts#L75-L84) it looks like the `packager('yarn')` function only checks if the yarn package manager [has a implementation](https://github.com/flowaccount/nx-plug

[2020-09-02 08:26] ghost opened #53 "[BUG] file replacement not working"
file relacement section in angular.json wasn't working when use this builder.

"fileReplacements": [{
                "replace": "apps/cdk/environments/environment.ts",
                "with": "apps/cdk/environments/environment.staging.ts"
              }]

I try with serverless project and cdk project It's not really replace for sure

[2020-09-11 15:59] tstackhouse commented on #49
It doesn't seem to be a distinct failure, just a warning, which may mean that the configuration is simply being quietly ignored.  I had dome some searching on that `enable_optimize` flag, and didn't really come up with much documentation outside of a single blog article.

[2020-09-27 03:39] hoang-innomizetech commented on #48
I am also looking to see a way to force exclude packages that we managed in the layers.

[2020-10-09 09:16] azgorov opened #54 "[BUG?] Possible problems with plugins that use require()"
**Describe the bug**
I am trying to use nx-serverless with serverless-stack-output plugin and it always fails if I set handler function

**To Reproduce**
Steps to reproduce the behavior:

1. Add serverless-stack-output plugin in serverless.yml. It does not matter if it is original package or one of latets forks like @anttiviljami/serverless-stack-output
2. Add custom typescript or javascript handl

[2020-10-11 14:09] dbrrt opened #55 "[BUG] serverless deploy fail through the nx plugin"
**Issue**
During the deployment the serverless plugin stops at packaging the service

**To Reproduce**
Steps to reproduce the behavior:

1. Configure your AWS ID and secret
2. generate a serverless app with the cli `nx g @flowaccount/serverless:app ...`
3. execute deploy target: `nx deploy myapp`

**Expected behavior**
The CLI should pass the packaging step, it simply stops with no error.

**Scree

[2020-10-12 12:55] wickstargazer commented on #55
Is this for angular universal app?

[2020-10-12 12:58] wickstargazer commented on #54
Is this
1. Because you want to generate only one function at a time? By specifying it in the yaml

Or

2. Just because you added the stack-output plugin

So i know where to look

[2020-10-12 14:45] azgorov commented on #54
Hello @wickstargazer ,

If you add stack-output plugin and include handler function it fails. It does not matter what other stuff is included in yml.

Kalin

[2020-10-12 23:06] dbrrt commented on #55
@wickstargazer It's for serverless framework plugin.

[2020-10-14 00:37] Destreyf commented on #55
I just wanted to chime in here.

I am using a self hosted drone.io and cannot get the build to succeed, however if i run it on my laptop it fails every other time it's run.

What's even stranger is even with debug set to true in my env.json and setting SLS_DEBUG to true, i get inconsistent debug messages.

To improve my odds of deployment i have broken my builds into 2 steps.

[code]

The line in

[2020-10-14 00:38] Destreyf commented on #55
To further clarify, I do not have issues with SLS_DEBUG when doing other serverless tasks, only tasks related to nx-serverless.

[2020-10-14 12:53] dbrrt commented on #55
@Destreyf Same, with nx-serverless, It's stopping for me at `packaging` step, with no error, where using sls commands standalone, the deployment processes just fine.

[2020-10-14 17:18] Destreyf commented on #55
@dbrrt Can you add the build config to your angular.json file and try running the following command:
[code]

Does it show any messages?  I do get past packaging, albeit inconsistently.

[2020-10-14 18:53] dbrrt commented on #55
@Destreyf I'm not using angular.json, will try in the package.json, are you able to package the lambda with the plugin?

[2020-10-14 19:08] Destreyf commented on #55
You may have a workspace.json file that's similar to the angular.json file, basically what I added as a run target for the nx cli that does the packaging.

[2020-10-14 19:43] dbrrt commented on #55
Makes sense, I'll try that.

[2020-10-15 03:17] hoang-innomizetech commented on #48
@jamesgroat are you able to share code snippets?

[2020-10-15 03:21] wickstargazer commented on #48
hmm ... we can do so by adding it into `angular.json` or `workspace.json` and use it as parameters?
or would you guys rather manage it from `serverless.yaml` ?

[2020-10-15 03:25] hoang-innomizetech commented on #48
I think adding to serverless.yml is better (the serverless-webpack plugin applies the same approach), it to avoid all services that are affected when modifying the angular.json or workspace.json.

By the way, what is your idea on how to turn off the packager in the nx-serverless and use another (i.e. serverless-webpack)?

[2020-10-15 03:29] wickstargazer commented on #48
hmm the reason i built this packagr is to make it work with nx and serverless-webpack obsolete.

I think a better approach is how to allow custom webpack configurations using the same packagr?

The webpack part is actually using the angular builders, and packagr is just used to prune the packages to make it small and robust. 😄

[2020-10-15 03:34] hoang-innomizetech commented on #48
Custom webpack.config.js file is already supported now by nx-serverless. but we want to add some customization per service (on serverless.yml file) such as forceExclude, forceInclude, toggle package.individually option (seems not to work now)

[2020-10-15 03:55] wickstargazer commented on #48
I think that can be fix in the packagr itself ... Rather do it that way  ... Lets draft it out, I will have a session or two this month to re-work on the bugs/enhancements that are there in the repo

[2020-10-22 15:32] warrendugan opened #57 "[BUG]Stage option passed to SLS build doesn't make it to serverless.yml config."
**Describe the bug**
When I run `nx run <project>:sls --configuration deploy-production` the `STAGE` key still has a value of `dev`

**To Reproduce**
https://github.com/warrendugan/nx-sls

**Expected behavior**
When using deploy-production vs. deploy-dev, I expect the stage option to be passed to the serverless configuration so it deploys to the correct environemnt. Currently I get the same outcom

[2020-10-27 10:09] PeterWunderlich commented on #57
Experiencing the same issue and tried to find the reason for that one. No luck until now. 😅

[2020-11-19 11:01] poul-kg commented on #43
Also have no idea how to debug `nx serve my-serverless-app`. Would be great to get any example of how to debug a running serverless app.

[2020-12-15 05:51] wickstargazer commented on #31
@sburke56 can i close this?

[2020-12-23 15:08] nhammond101 commented on #23
Any update @wickstargazer?

Our project's growing to a size where splitting into separate files would be useful

[2020-12-24 02:27] wickstargazer commented on #23
i am looking at the project this week and next. We will have an update within first week jan and again first week feb 👍🏽

[2021-01-04 16:31] wickstargazer commented on #55
Hi i think the above problem is broken down into two issues?
 1. Being the sls documentation is not clear
 2. The npm doesn't work.

Am i right? @Destreyf  I am fixing the npm and will add some documentations you suggested into the readme somewhere.

Thankz

[2021-01-04 16:36] wickstargazer commented on #54
Hello @azgorov this issue will be focus in releasing version 1.0 ... I am reshuflling the way servicePath works.

[2021-01-04 16:39] Destreyf commented on #55
@wickstargazer I don't know if there's been releases since my last message, the project I used this on has been on hold, I am actually circling back to it this week.

At the time of my message, the real issue was the deploy portion of the SLS command wasn't working consistently, this was actually an issue with the Package step, so I could run the package command multiple times until it succeeded (

[2021-01-04 16:42] wickstargazer commented on #55
@Destreyf i have been facing similar issues after scaling. So i am in fix for that, but i am going to release v0.5.3 in a few days and it will fix the `npm` issue. You will be able to use npm. For the packaging issue there might be several causes which i am investigating. But it might be release as `v1.0.0` in a month time.

[2021-01-14 20:45] wickstargazer commented on #23
following this issue for the fix --> https://github.com/serverless/serverless/issues/2997

[2021-01-22 19:39] bmcilw1 opened #65 "[BUG] nx add throws error `Could not find project "@flowaccount/nx-serverless"`"
**Describe the bug**

nx add throws could not find project error

**To Reproduce**
Steps to reproduce the behavior:

[code]

Returns error `Could not find project "@flowaccount/nx-serverless"`

**Expected behavior**

The given instructions for installing the plugin should not produce an error

**Check which provider is affected:**
[x] AWS
[x] Azure
[x] Google Cloud Platform

**Check which framewor

[2021-01-22 23:02] bmcilw1 commented on #65
@wickstargazer I'd very much appreciate it if you could let me know what I can do to help with this bug. I've tried every approach I can find on the internet for getting our nx monorepo hosted in AWS lambda using the serverless sdk, but had very little luck. I'd be happy to try to create a PR with changes, if only I have at least some idea what to change.

Thanks!

[2021-01-25 15:47] bmcilw1 commented on #65
For those who find this later, you must have the angular stuff installed to use this plugin.

This setup resolves the nx add error (notice the preset os angular)

[code]

[2021-01-25 15:53] bmcilw1 opened #66 "[BUG] Errors thrown on install even in blank repo"
**Describe the bug**

Dependency resolution errors are thrown on install.

**To Reproduce**

[code]

**Expected behavior**

Package install should succeed on a fresh install.

**Throws error**

[code]

**Check which provider is affected:**
[x] AWS
[x] Azure
[x] Google Cloud Platform

**Check which framework is affected:**
[x] Angular
[x] Nodejs
[x] Serverless
[x] Lambda
[] Infrastructure as a code

[2021-02-05 19:03] tstackhouse opened #68 "[FEAT] Update offline schema to not fail on unised arguments (such as watch)"
**Is your feature request related to a problem? Please describe.**
When attempting to create an e2e project to test an api built with nx-serverless:offline, it fails with a schema validation error because the `watch` option is passed by the cypress builder, but it is not part of the schema for serverless:offline and `additionalProperties` is set to `false`.

**Describe the solution you'd like**
To

[2021-02-06 22:30] wSedlacek opened #69 "[FEAT] Support serverless-appsync-offline"
**Is your feature request related to a problem? Please describe.**
Currently it looks like the serverless command being run is just `offline` however it would be nice if to have an option to run `appsync-offline start` as part of the [serverless-appsync-offline](https://github.com/aheissenberger/serverless-appsync-offline) plugin

**Describe the solution you'd like**
Either determining the proper

[2021-02-06 22:32] wSedlacek commented on #69
Looks like I didn't read the full documentation for `serverless-appsync-offline`. It seems they [will automatically run](https://github.com/aheissenberger/serverless-appsync-offline#using-with-serverless-offline-plugin) with the `offline` command.

[2021-02-06 22:32] #69 closed

[2021-02-08 21:50] tstackhouse commented on #68
Along the same lines, it looks like offline doesn't return a `baseUrl` requiring one to bet set in `cypress.json`.

[2021-02-09 09:12] RaulAbd opened #70 "[DOCS] Including custom webpack config with nx-serverless"
Is your feature request related to a problem? Please describe.
It looks like nx-serverless already supports custom webpack configs (According to [this](https://github.com/flowaccount/nx-plugins/issues/48#issuecomment-708874529)), unfortunately there is no documentation on how to use them.

Describe the solution you'd like
Addition to docs on how to include my own webpack.config.js.

Check which pr

[2021-02-09 18:10] warrendugan opened #71 "New Project Not Working"
Steps taken:

- yarn create nx-workspace
- choose angular-nest
- nx add @flowaccount/nx-serverless --project=api

Error:
[code]

[2021-02-16 17:52] jbojcic1 opened #72 "Support latest nx version"
**Is your feature request related to a problem? Please describe.**
Atm the plugin has nx "^9.2.2" as a peer dep. Latest nx version is 11

**Describe the solution you'd like**
Upgrade to latest version

[2021-02-18 09:46] jbojcic1 commented on #72
I am willing to help with this if needed

[2021-02-18 09:50] wickstargazer commented on #72
Hi@ @jbojcic1  i have a branch thats migrated but there are bugs and tests that needs to be written.
Atm i am trying to focus on version 0.5.3 to make the experience better and less buggy then move to migration
would you like to help on that?

[2021-02-18 15:15] jbojcic1 commented on #72
Sure. Let me know what exactly do you need help with and I'll see what I can do

[2021-02-25 09:19] Nightbr commented on #72
Hey, I'm using Nx 11 and try to make `@flowaccount/nx-serverless` works with it.

Here is the Nx report:
[code]

I have installed `yarn add -D  @flowaccount/nx-serverless` which has installed `0.5.2`.

I can generate a lambda function with `nx g @flowaccount/nx-serverless:api-serverless --name=dummy --provider=aws`

But when I want to nx serve lambda-dummy or deploy or another command, it throws t

[2021-02-25 12:27] mandarini commented on #72
Hi there @Nightbr. Thanks for pointing out the Nx-related issue. I only came here to tell that upgrading to `11.3.x` fixes the `utils/utilities` discrepancy, but I see you already found this fix! :) I'll be watching this issue in case some other Nx bug comes up.

[2021-02-26 16:29] tstackhouse commented on #68
Fixed by #73.

[2021-02-26 16:29] #68 closed

[2021-03-11 11:41] SquareLi opened #75 "Support newer Serverless framework"
**Describe the bug**
Is there a way to use the newer version of serverless? for example, 2.29.0.
I tried `npm install serverless@latest` after installing this plugin, then change the frameworkVersion in the yml file to >2.1.0. But this plugin seems to still use an older version - 1.83.2:
`The Serverless version (1.83.2) does not satisfy the "frameworkVersion" (>=2.1.0) in serverless.yml`

**Check

[2021-03-30 04:38] wickstargazer commented on #31
closing due to inactivity

[2021-03-30 04:38] #31 closed

[2021-03-30 04:41] wickstargazer commented on #44
i mixed this with deploy command, have to test to make sure it works.

[2021-03-30 04:45] wickstargazer commented on #30
added option to allow this now.
[code]

[2021-03-30 04:52] wickstargazer commented on #48
[code]

Have to get the forceexludes from the serverless config here in `depcheck.ts` and `webpack.stats.ts`

[2021-03-30 04:55] wickstargazer commented on #49
removing this in v0.5.3

[2021-03-30 04:58] wickstargazer commented on #51
baseWorkspaceTsConfig is false as default

[2021-03-30 04:58] wickstargazer commented on #51
releasing in v0.5.3

[2021-03-30 04:58] wickstargazer commented on #53
fixed in v0.5.3

[2021-03-30 05:01] wickstargazer commented on #54
fixed in v0.5.3 pending test

[2021-03-30 05:02] wickstargazer commented on #57
change to pass argument through `workspace.json` or `angular.json` instead

[2021-03-30 05:07] wickstargazer commented on #66
Hi! i have fixed the init function for nx-serverless to serve better and default as an api which will be released in v0.5.3

also i dont get the above error how does `prisma` comes into play since there is no reference to it in nx-serverless

[2021-04-06 18:56] cpwingert commented on #72
Is there any update / workaround for this issue?  I am running into the same problem.

[2021-04-17 22:53] Sam-Dietrich commented on #72
Likewise also running into this issue

[2021-04-23 08:19] #23 closed

[2021-04-23 08:19] #55 closed

[2021-04-23 08:19] #49 closed

[2021-04-23 11:54] wickstargazer commented on #30
fixed in v0.5.3

[2021-04-23 11:54] #30 closed

[2021-04-23 11:55] #50 closed

[2021-04-23 11:55] #53 closed

[2021-04-23 11:55] #54 closed

[2021-04-23 11:57] #57 closed

[2021-04-23 11:57] #71 closed

[2021-04-29 14:31] icedevera commented on #72
Running into this issue as well

[2021-04-29 14:34] wickstargazer commented on #72
Hey guys, we will be upgrading the nx-plugin workspace and dependencies to nx 11. But it will take us some time. We welcome collaborators and i do have a branch to begin with as well

[2021-05-06 00:13] goldsam commented on #72
Can you push your branch? I might have a little free time in the next week to help with this.

[2021-05-11 05:22] adevofficial opened #79 "[BUG] Not able to run or build the freshly scaffolded project"
**Describe the bug**
I am not able to run or build the freshly scaffolded project. It is showing an error and exits the process as in the screenshot.

**To Reproduce**
Steps to reproduce the behavior:

1. create a workspace `npx create-nx-workspace` with next.js as an initial app
2. install (`npm install -D @flowaccount/nx-serverless`) and int (`nx g @flowaccount/nx-serverless:init`) the plugin
3.

[2021-05-15 03:49] wickstargazer commented on #72
hi @goldsam  @jbojcic1  lets get this working, i am going to refactor it out. we can take it out in the current master make it work with 11 then migrate. What do you think?

[2021-05-15 03:50] wickstargazer commented on #79
linking with https://github.com/flowaccount/nx-plugins/issues/72
lets make this work guys sorry for the late response we have prioties with product running :)

[2021-05-15 03:53] wickstargazer commented on #72
@goldsam by the way this is the branch although the name is obscure `hotfix/make-nx-serverless-run-with-npm`

[2021-05-15 05:26] wickstargazer commented on #65
Hi i am trying to remove the preset-angular so lets open this back up

[2021-05-15 05:43] #75 closed

[2021-05-15 09:00] jbojcic1 commented on #72
@wickstargazer unfortunately I don't have time to help on this anymore. Will ping you if that changes

[2021-05-15 10:50] wickstargazer commented on #72
@jbojcic1 no worries i have been digging around, seems like i have to remove all imports from workspace ( i built the plugin during when there was no devkit) and the generators has changed their structure. So lets see how that goes...probably will need help testing it out to make sure i dont break it.

[2021-05-17 05:36] dbrody commented on #72
Any update on this thread? I'm curious to use this with a new NX project.

[2021-05-17 08:50] wickstargazer commented on #72
@dbrody i refactored the generators over the weekend. Its building now but i have to migrate the workspace to version that has some new commands.
i am trying to do that atm. But i think we can do a pre-release to test run it first. i will push to the new branch at the end of the day. You are welcome to review the PR together

[2021-05-17 13:48] wickstargazer commented on #72
hey guys,
i am still stuck with this error when compiling the nx-serverless. But as a good sign its just some rxjs version change of sytanx error.

anyone has an idea ?

[code]

[2021-05-18 09:03] wickstargazer commented on #72
any idea guys? i will take a hack at it again to try make it build

[2021-05-19 12:37] wickstargazer commented on #72
guys i have moved the needle. Its building now but test is not passing, i am figuring out how to run schematic for `jest.conf` its not working the same way :) So it the tests passes and e2e passes then we are good to go!

[2021-05-23 16:15] wickstargazer commented on #72
Hi guys, linking the pr to this issue https://github.com/flowaccount/nx-plugins/pull/80

Also published a preview version for the lib. [1.0.0-beta.1](https://www.npmjs.com/package/@flowaccount/nx-serverless/v/1.0.0-beta.1)

[2021-05-24 17:08] wickstargazer commented on #72
@jbojcic1 @dbrody @Nightbr i have published `1.0.0-beta.2` the main commands are working now
build, serve, deploy, destroy

have to test out sls and compile. Finish the unit test fix docs and release the 1.0.0!

[2021-05-24 17:08] wickstargazer commented on #79
refer to this pull request
https://github.com/flowaccount/nx-plugins/pull/80

[2021-05-24 17:10] wickstargazer commented on #70
@RaulAbd in version `1.0.0-beta.2` there is a config to add (webpackConfig) which accepts either a string or string[]
would you mind testing if it works?

[2021-05-24 17:11] wickstargazer commented on #66
Hi would it be possible to look at this in 1.0.0-beta.2 if it works? @bmcilw1

[2021-05-24 17:53] bmcilw1 commented on #66
Hi @wickstargazer, great job with this! I'll be happy to take a look at some point when we prioritize it on our end.

In the meantime, I've been using [serverless-plugin-optimize](https://github.com/FidelLimited/serverless-plugin-optimize)

Great work again on your plugin!

[2021-05-24 23:28] tstackhouse opened #81 "[FEAT] Build functions individually"
**Describe the solution you'd like**
Serverless supports the `package.individually` flag, however during the build step, all functions are passed through webpack together, resulting in a single dist build that the packaging step then pulls from.  Without adding separate include/exclude rules to each function, this results in deployment artifacts that are identical (and can cause memory exhaustion

[2021-05-25 04:02] wickstargazer commented on #81
Hi, i did make a `compile` executor which just compiles the typescript into javascript that works. But i think i might need more education or dig in on how serverless individual flag works. I am imagining it only pull certain entry files into the compiler

With that set to each deploy configuration we might be able to achieve the smaller size effect. Do you have any insights?

the function `getEnt

[2021-05-25 04:02] wickstargazer commented on #79
hi @adevofficial can we close this as its solved in the beta version?

[2021-05-25 14:53] #79 closed

[2021-05-26 17:59] tstackhouse commented on #81
I'd need to experiment with that a bit, it's an interesting thought.  We had used the `compile` executor at one point I believe, but missing out on all the bundling was causing other issues.

I've been elbow deep trying to triage some really esoteric build failures in our project for the last few days and will probably file a bug report after getting it working with my fork.  I want to submit a PR

[2021-05-26 18:53] tstackhouse opened #82 "[BUG] Zip file resolution error when deploying a single artifact"
**Describe the bug**
When overwriting `servicePath` with the `packagePath` in [deploy.impl.ts:123](https://github.com/flowaccount/nx-plugins/blob/master/libs/nx-serverless/src/builders/deploy/deploy.impl.ts#L123) (and in earlier iterations) because of the relative pathing, inside serverless' packaging routines, the package path gets appended twice, resulting in a silent failure caused by an ENOENT

[2021-06-03 12:00] wickstargazer commented on #82
Hey i just saw this bug. Is it happening to everyone who is trying to use the beta version then?

[2021-06-03 12:07] #72 closed

[2021-06-03 12:25] wickstargazer commented on #82
@tstackhouse would this help? --> https://github.com/flowaccount/nx-plugins/pull/84/files#diff-83dc8d582b8fb37ed63b28f9d66778aaf1b91d48495c4085387fda2eed4afdef

also i merged the latest code into master although the test isn't working yet. Will try to find time to make them work.
but if this helps will release beta.4

[2021-06-03 12:34] wickstargazer commented on #81
@tstackhouse Lets move this onto 1.0.0-beta i think its an easier code approach and easy to read as well.

Sorry i am shuffling it around ... had to refactor to support the new workspace.

If you do not want to update your workspace, maybe we can do a 0.5.4 fix for the solution?

[2021-06-03 16:29] tstackhouse commented on #81
No worries.  I may have gotten a bandaid on my issue for the moment, I'd need to upgrade to serverless 2 in order to use the beta, as I get an error when attempting to run the deploy command:

[code]

It's still on my radar and want to keep the discussion going, but I may have at least gotten the immediate fire out by increasing my memory limit to the GH actions max.

[2021-06-03 19:46] tstackhouse commented on #82
It's a step in the right direction, though I was doing some more testing and found another issue in the upload artifacts step when not packaging individually: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/lib/uploadArtifacts.js#L104-L116

That usage of `packagePath` there is the culprit, because that gets set way that the initialization of the library here: https://gi

[2021-06-04 03:03] wickstargazer commented on #82
so should we set the package.artifact?
and test it out to see if it works.
To summarize a bit. It works if not packaging individually correct? since i tested out and that seems ok.

[2021-06-04 03:04] wickstargazer commented on #65
hi @bmcilw1 sice the refactor, there is no angular add schematics anymore. So the solution is to do `yarn add @flowaccount/nx-serverless`

lets close this?

[2021-06-04 03:10] tstackhouse commented on #82
The opposite actually, at least in my experience. Packaging individually works because it goes inside both if statements in that code in uploadArtifacts.js.

Not packaging individually only goes into the outer if, as the artifact is set in  https://github.com/serverless/serverless/blob/master/lib/plugins/package/lib/packageService.js#L99-L113 during the packat step.

Commenting the return on line

[2021-06-04 03:29] #65 closed

[2021-06-04 04:46] wickstargazer commented on #82
`Commenting the return on line 115 allows the if statement to be exited and the deploy works correctly.` in which file?

[2021-06-04 05:22] wickstargazer commented on #82
problem is i released 1.0.0-beta and the code has changed Alot....my bad for lack of communications. Want to make sure it works and we are talking about the same issue. I am testing out with packagingIndividually flags now

[2021-06-04 06:24] wickstargazer commented on #82
ok i found out that if i set `package.individually: false` the error of the zip file occurs. I am on the right track right?

There was an error with the build. Error: ENOENT: no such file or directory, open 'dist\.serverlessPackages\apps\api\lambda\dist\.serverlessPackages\apps\api\lambda.user-analytics\.serverless\lambda-.zip'

[2021-06-04 13:36] wickstargazer commented on #82
i traced it down to something in serverless itself

![image](https://user-images.githubusercontent.com/1543442/120809468-476aec80-c574-11eb-8987-2b8fd6a7c327.png)

the servicePath is changed and not same as serviceDir in

`serverless\lib\plugins\aws\deploy\index.js`. In constructor it is set to ServiceDir but along the way its changed! ..... line 97 i log it and the value has changed.

still figur

[2021-06-04 15:29] tstackhouse commented on #82
Sorry, I was on my phone and getting out a detailed reply is tricky.  like 115 in uploadArtifacts.js: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/lib/uploadArtifacts.js#L115

No worries about the 1.0.0-beta, I need to see what if anything I would need to do to use serverless 2 in my project over 1.x.

dist\.serverlessPackages\apps\api\lambda\dist\.serverlessPackages

[2021-06-04 16:35] wickstargazer commented on #82
yeh I had to refactor the whole thing to work with nx-12 .. Its another pattern that is used with nx/dev-kit and generators etc etc as well.

So i am investigating why the path changed. I think it has something to do with the serverless lifeCycle hooks
not sure which hook changed the variable.

[2021-06-04 17:30] tstackhouse commented on #82
I'm investigating updating to 2.x and at least upon first impressions, the way this plugin handling initializing serverless, if we use an SSM reference in our `serverless.yml`, the framework attempts to parse the config and fails because the aws plugin isn't loaded, I tried commenting out all my SSM params from the config, but when it gets to the deploy step, it seems to blow out:

[code]

[2021-06-04 17:39] wickstargazer commented on #82
Replying from phone
Check the first line of import
Serverless 2 uses local serverless so when debugging have to use the path
to the debugging api i commented it out as example

Would be good to reuse the serverless resolveLocal function

On Sat, Jun 5, 2021, 12:30 AM Tim Stackhouse, ***@***.***>
wrote:

[2021-06-04 17:43] tstackhouse commented on #82
Researching a bit more, it almost seems like something is causing the AWS plugins to not load at all:

[code]

[2021-06-07 05:42] wickstargazer commented on #82
in `serverless.ts` you need to change the first import to something like

`import * as Serverless from '<path to your debugging-workspace/node_modules/serverless/lib/Serverless.js';` instead of  `'serverless/lib/Serverless';`

this will make thigs work

[2021-06-13 14:53] ubergeoff opened #85 "Allow for a serverless.ts file"
**FEATURE**
Allow for the use of a serverless.ts file instead of a serverless.yml file

**SOLUTION I WOULD LIKE**
As per serverless nodejs examples - it is already possible to make use of a serverless.ts replacement for you serverless.yml file.

I would like to make use of the same serverless.ts functionality that is made is available in the serverless examples: https://github.com/serverless/serve

[2021-06-14 11:13] wickstargazer commented on #85
sounds like awesomeness, would you like to open a pr? i can walk you through the code 🚀

[2021-06-14 12:03] ubergeoff commented on #85
OK. Can do... whats the effort involved? (if you have to guess) ..?

[2021-06-14 15:40] wickstargazer commented on #85
These are the two main places you need to fix
1. Change all the configs to use `.ts` instead of `.yaml`
2. rename the template file
3. revisit the `spec.ts` and make sure it checks for `.ts` instead of `.yaml`
4. Make sure the `serverless.ts` has the right initial code so that when schematics are generated it works out of the box

Tips:
1. use `yarn link` to do local testing
2. in `https://github.

[2021-06-15 06:45] ubergeoff commented on #85
Should I be concerned with the failing unit tests?
https://app.circleci.com/pipelines/github/flowaccount/nx-plugins/113/workflows/e07e882a-cca8-4244-954d-bc674f0f3b3c

[2021-06-15 06:50] ubergeoff commented on #85
Side note the solution should be backwards compatible correct?

i.e. users/devs should have the choice to choose between the `serverless.yml` file for the `serverless.ts` file - are you happy with this..?

[2021-06-15 13:04] ubergeoff commented on #85
++ Serverless has this code in it:

[code]

However - it never seems to run to the `.ts` path - it always lands up in the "fall through" `.js` path... Any idea's why that might happen..?

[2021-06-30 20:36] iquabius opened #86 "[BUG] External dependencies are unavailable after deploying"
**Describe the bug**

I tried adding `date-fns` as a dependency and it worked fine running my function locally: `npx nx run graphql:serve`

But after deploying to AWS and testing I get an error because `date-fns` is missing:

![image](https://user-images.githubusercontent.com/3139777/124026598-e215ea00-d9bf-11eb-931e-08e2ac8fc91a.png)

The lambda logs:

[code]

From what I understand after going t

[2021-07-03 08:47] wickstargazer commented on #86
i am investigating into this. Will find some free time this week to debug, thanks for the repo i can reproduce it now

[2021-07-06 05:21] tstackhouse commented on #86
I've ran into this in the past (on older versions) and your triage is spot on, though the root cause may be different.  My gut feeling is that it's coming from webpack's packaging, beyond that right now I'm not sure, I'll defer to Wick for now :)

[2021-07-08 19:33] brian-weasner opened #87 "[BUG] Cannot Include Json Schema in serverless.yml"
**Describe the bug**
Serverless fails to add a Json Schema to my Http Post Request due to "File not Found".

Added Json Schema to `serverless.yml` the same way as described here: [Serverless Request Schema Validators](https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#request-schema-validators)

**To Reproduce**
1. Create a valid json schema json object (Verified that my sc

[2021-07-08 19:42] brian-weasner commented on #87
Note: Not the same as https://github.com/dherault/serverless-offline/issues/894, as I am expecting serverless to find the schema, and at least use it when deployed.

[2021-07-16 01:14] brian-weasner commented on #86
Any progress on this? This is happening for me with my dependencies.

I did some debugging, and it looks like the following is causing me issues.
https://github.com/flowaccount/nx-plugins/blob/62d46c72fafa15d6dc73828ebb62d40d0695f3b6/libs/nx-serverless/src/utils/webpack.stats.ts#L62

My webpack stats do not have modules within each of the chunks. Instead each of my modules have chunks within them.

[2021-07-16 16:47] brian-weasner commented on #86
Looks like adding `"verbose": true` to the `angular.json` build works as well because it sets `chunkModules: true` in `getStatsConfig` function in `config.ts`.
[code]

[2021-07-18 22:36] tstackhouse commented on #87
I've ran into this, I don't have the code in front of me, but the workaround is to do something like this in your serverless.yml

[code]

The syntax might be different, I'd have to look at my config at $WORK, but that's the gist, you need to define the path twice, once for offline and once for APIGW, because of path resolution differrences.  You might also need to make sure that the packaging step

[2021-07-19 14:45] brian-weasner commented on #87
I decided against this approach as I couldn't get it to work, and we want validation working locally with serverless-offline, so we decided to do request body validation in our lambda functions.

Thank you for the pointers though in case anyone else runs across this. Gonna keep this issue open, as it is an issue, just no longer an issue for me as I am not using this functionality.

[2021-07-19 15:09] tstackhouse commented on #87
Checked my config, this is actually the way to make offline and apigw work simultaneously with a schema in serverless.yml:

[code]

using 2 `file()` declarations inside the `${}` substitution separated by a comma provides failover should one file fail to be found.

I've actually taken to doing both validations you mention though, doing a basic validation at the APIGW level and then doing more comp

[2021-07-25 13:52] #86 closed

[2021-08-08 16:34] jon-gourley commented on #48
Will this be implemented soon? This is an essential feature IMO and sounds like a simple fix. Would be great to have an option for the build builder to exclude a list of packages. I've had to manually edit `normalize.js` in order to exclude `chrome-aws-lambda` from one my serverless apps that uses this plugin.

This is an awesome plugin btw 🙏

[2021-08-10 21:26] rpaddock commented on #86
did #89 solve this issue? I'm seeing a valid package.json now, but the dependencies are not making it into the artifacts.

[2021-08-10 21:31] brian-weasner commented on #86
It worked for me.
Note: I also have ` "externalDependencies": "all"` set in my `angular.json` file (Under `project-name.architect.build.options`) which I believe is the option to install and package the external dependencies.

[2021-08-17 18:18] bmcilw1 commented on #66
Hi @wickstargazer!

Thanks again for your great work here. As Webpack keeps getting updates, eventually our copy of [serverless-plugin-optimize](https://github.com/FidelLimited/serverless-plugin-optimize) started having issues. So, we're re-prioritizing time to looking into other solutions.

I've been able to run `npm install @flowaccount/nx-serverless --save-dev` in our main repo without issue, s

[2021-08-17 19:11] bmcilw1 commented on #66
So this still does not work with your latest updates

[code]

[2021-08-23 17:57] podenborg opened #92 "[BUG] Runtime.ImportModuleError in every Lambda function after deploying new project"
**Describe the bug**
All of my Lambda functions are throwing `Runtime.ImportModuleError` errors after deploying a new project with the plugin's `nx deploy <myapi>` command.

I get errors similar to the one below:

[code]

I created a new Node-Typescript project using the plugin's generator command and have not modified the serverless.yml config. Here's my serverless config file:

[code]

I haven't

[2021-08-31 03:56] dornellas13 commented on #92
hello i'm having the same problem, find out what it can be?

[2021-08-31 10:57] wickstargazer commented on #92
does this `https://github.com/flowaccount/nx-plugins/pull/89` solves it?
just released `1.0.0-beta.5`

[2021-08-31 10:57] #92 closed

[2021-08-31 10:58] wickstargazer commented on #66
does `1.0.0-beta.5` solves your problem?
https://github.com/flowaccount/nx-plugins/pull/91

[2021-09-15 15:34] warrickhill commented on #81
Any update on when this issue might be resolved?

[2021-09-17 16:56] wickstargazer commented on #81
Hi, i will eye this on our next release. thanks for the bump @warrickhill

[2021-09-22 14:55] jahorwitz commented on #43
@wickstargazer @hoang-innomizetech @poul-kg I'm also trying to configure vscode to debug a project using this plugin, but I'm not convinced it's entirely possible to do in its present state. I'm able to run the project through VS Code just fine, however it is unable to set breakpoints in the code because there are no sourceMaps. It appears the `sourceMap` option doesn't actually do anything as it'

[2021-10-01 20:16] milocosmopolitan opened #94 "[BUG] Missing compat.ts for sls executor"
**Describe the bug**
Because this is missing, command can't be invoked.

**To Reproduce**
run sls command after inserting the target on workspace.json manually.

**Expected behavior**
to be able to run sls commands

**Check which provider is affected:**
[x] AWS
[] Azure
[] Google Cloud Platform

**Check which framework is affected:**
[] Angular
[] Nodejs
[x] Serverless
[] Lambda
[] Infrastructure

[2021-10-05 10:46] wickstargazer commented on #87
can we close this?

[2021-10-05 14:07] brian-weasner commented on #87
Yeah, I think so. there is a workaround in place and honestly I decided to just use the latest version of AJS within my code so I could handle the response body to send back to the calling client.

[2021-10-05 14:07] #87 closed

[2021-11-10 13:31] dylanschoenmakers commented on #94
When will this be released? Currently impacted by this bug :)

[2021-11-13 18:43] wickstargazer commented on #94
just released `1.0.0-beta.7` apologies, was stuck trying to fix deploy per function.

[2021-11-13 18:43] #94 closed

[2021-11-14 17:51] wickstargazer commented on #82
@tstackhouse the deploy per function is working now in `1.0.0-beta.8` can we close this issue?
its fixed in this PR #97

[2021-11-14 17:51] #66 closed

[2021-12-13 16:11] SquareLi opened #105 "[BUG] Cannot create new api"
**Describe the bug**
Cannot create new serverless api

**To Reproduce**
Steps to reproduce the behavior:

Run command
[code]

**Expected behavior**
Project is created

**Screenshots**
![image](https://user-images.githubusercontent.com/1891471/145847022-ee209d0f-91c5-4d9f-9784-16a8301ff9ee.png)

**Check which provider is affected:**
[x] AWS

**Check which framework is affected:**
[] Angular
[] Node

[2021-12-13 16:17] SquareLi commented on #105
Issue is resolved.
`"projects": {},` is missing in nx.json

[2021-12-13 16:18] #105 closed

[2021-12-16 15:43] doug-luce-rs opened #106 "[BUG] Cannot find module '@nrwl/workspace/src/utilities/run-webpack'"
**Describe the bug**
In the nrwl/nx repository this commit https://github.com/nrwl/nx/commit/8779a22be38fc3d0798f60955832b4b6e21faee9 moved the file @nrwl/workspace/src/utilities/run-webpack to the utils folder in the project, but it's still being referenced in it's old location in this file. [@flowaccount/nx-serverless](https://github.com/flowaccount/nx-plugins/blob/2513ff393f6f8a4d67ac0db5c091c3

[2021-12-16 18:49] bmcilw1 commented on #66
Hi @wickstargazer. I came back around to give this another try. Unfortunatly, things are still broken 😞

[code]

You can see a few changes in the log, but the main issue is still at the bottom

[code]

[2021-12-16 18:57] thebrianbug opened #107 "[BUG] Schematic "init" cannot resolve the factory."
**Describe the bug**
This is a recurrence of the bug reported at https://github.com/flowaccount/nx-plugins/issues/66

**To Reproduce**

[code]

See the bottom of the above, clipped for easy reading:

[code]

**Expected behavior**
Should install without issues, especially for the recommended path for install

**Check which provider is affected:**
[x] AWS
[x] Azure
[x] Google Cloud Platform

**Check

[2021-12-16 18:58] bmcilw1 commented on #107
Until I get past this `Schematic "init" cannot resolve the factory.` bug, I can't successfully install this package to give it a try 🤷

Advice appreciated. I don't want to maintain a fork of serverless-plugin-optimize indefinitely

[2021-12-16 19:23] bmcilw1 commented on #107
I also attempted this in my main project repo (the one I am currently deploying with a fork of serverless-plugin-optimize). I got the same error

[code]

[2021-12-17 05:10] wickstargazer commented on #106
Hi, would you want to pitch in? I have tried it once and also ran into another problem where webpack was upgraded to 5 in nx 13 and had to get around typings, call methods etc.

If you would wanna give it a go, lets find a slack to chat in?

[2021-12-17 05:13] wickstargazer commented on #107
@bmcilw1 `npx nx g @flowaccount/nx-serverless:ng-add` used to support adding to angular unviersal.

I would recommend not to use it, I will find a way to bring it back for `api-serverless`
mean while can you do `yarn nx g @flowaccount/nx-serverless:api-serverless` and let me know if it works?

it works here on my side but only before `nx-13` which i tried to migrate but got stuck at `webpack-5` ve

[2021-12-17 19:59] dornellas13 commented on #81
Good afternoon guys, how are you?
Do you have any updates on when this feature will be released?

[2021-12-19 16:38] wickstargazer commented on #81
@dornellas13 this is fixed in the current version.
check out this PR #97

let me know if you get stuck anywhere, there is a bug for `stage` which i will be releasing in a few days.

[2021-12-21 10:15] wickstargazer commented on #85
@ubergeoff We have released `1.1.0` that supports serverless.ts but there is sitll a bug when using `import` statements in the file itself. havent figured that out

[2021-12-21 10:16] wickstargazer commented on #81
@dornellas13 we have released `1.1.0` and it can deploy using `stage` options and `function` option according to #97

[2021-12-22 15:54] tstackhouse opened #115 "[BUG] nx-serverless: Property 'port' does not match the schema. '7777' should be a 'number'."
**Describe the bug**
When using serverless offline, if the port is not explicitly specified in `workspace.json` it will fallback to the default in `libs/nx-serverless/src/builders/offline/schema.json` which is `"7777"`, not `7777`, which causes the above schema failure.

**To Reproduce**

1. In any project using nx-serverless, do not specify `port` in the options for the `serve` command in `worksp

[2021-12-22 16:06] tstackhouse opened #116 "[BUG] When using npm as packager, pacakgelist is not properly computed resulting in "*" for all package versions"
**Describe the bug**
When using npm as a packager, when attempting to prepare deployment packages, the dependency graph (i.e. `npm list`) is not properly output unless `npm install` is run first, resulting in multiple "unable to determine version" warnings and subsequently the generated deployments artifacts have "*" as the version tag for all their generated dependencies.  This can cause unexpect

[2021-12-22 17:42] tstackhouse commented on #116
One point of note, this only occurs on a clean build.  Subsequent builds with an existing `dist` folder will work correctly.

[2021-12-22 20:58] tstackhouse opened #118 "[FEAT] Webpack stats.json support"
**Is your feature request related to a problem? Please describe.**
It doesn't seem like we support the `--statsJson` option, setting that to true does not produce a stats.json file in `dist/apps/<app>` the same way that an app using e.g. the angualr devkit builder does.

**Describe the solution you'd like**
In `build.impl.ts` in the callback for the webpack process, we have access to the `stats` o

[2021-12-28 23:19] tstackhouse commented on #82
I've been able to get back into this a bi, trying to update to 1.1.0 and serverless 2 in my project, and this bug is related to a slightly different issue, when using `packageIndividually: false` in `serverless.yml` a single zip file is built to be deployed, however due to the hotpatching necessary to support the `.serverlessPackages` paths, this file resolution fails.  It also seems like my propo

[2021-12-29 00:12] tstackhouse commented on #82
I've actually tracked down an easy potential fix for this, by changing the code here: https://github.com/flowaccount/nx-plugins/blob/master/libs/nx-serverless/src/utils/serverless.ts#L126-L132 from:

[code]

to

[code]

Omitting the extra conditionals and correcting the config option name a project with `pacakgeIndividually: false` in serverless.yml allows for a single zip file deployment to go th

[2022-01-10 05:16] wickstargazer commented on #115
published with `1.1.1`

[2022-01-10 05:16] #115 closed

[2022-01-10 05:16] wickstargazer commented on #116
published with `1.1.1`

[2022-01-10 05:16] #116 closed

[2022-01-10 05:16] wickstargazer commented on #118
hey we will merge and publish it by the week

[2022-01-12 02:41] tstackhouse commented on #118
If you’re good with that PR, it would be awesome if we can get it in, we’ve been trying to get our project into the latest plug-in and serverless 2, but it’s a hefty app and was running into memory issues

[2022-01-12 13:16] wickstargazer commented on #118
merged and published to `1.1.2`

[2022-01-12 13:16] #118 closed

[2022-01-12 19:47] tstackhouse commented on #118
Oh I see you were referring to #120, yes, that was definitely something to be merged, as it was a bugfix for this PR.

I was referring to #121.  I was on mobile so a long reply is hard to manage.

[2022-01-13 03:03] SquareLi opened #123 "[BUG] NX 13 and Webpack5 Support"
**Describe the bug**
We are upgrading the app to nx 13, and nx 13 seems to only support webpack5. We are getting the errors below when building the serverless app:
[code]
The root of the issue is the `run-webpack` function. In Nx13, this function is updated and moved from the @nrwl/workspace to @nrwl/node. So we need a way to pick the correct version based on the version of nx

Is there a way to u

[2022-01-15 07:47] wickstargazer commented on #123
Hey guys,

I tried migrating to nx-13 and got stuck and webpack typings used to build and dependency tree shaking

Would you guys have time to chip in?

We have a slack channel we can discuss and go thru it together

[2022-01-15 08:43] SquareLi commented on #123
Sure, how can I join the channel?

[2022-01-15 09:29] wickstargazer commented on #123
Use the link here

https://join.slack.com/t/flowaccountcommunity/shared_invite/zt-10dw6janp-JVE7k6y7OXf8ET9t2Y2BKQ

[2022-01-15 11:35] wickstargazer commented on #123
the migrated workspace is in `migrate/nx-13` branch

the error is

[code]

[2022-01-16 17:54] tstackhouse commented on #123
That looks like it could be related to changes in webpack 5’s exports. I’ve not touched it yet, I may be able to dig around tomorrow, but at least in my usage I’m still not on the latest version of anything yet.

[2022-01-17 19:12] Ali-sharafi-git opened #125 "[BUG]"
**Describe the bug**
Configuration error at 'useDotenv': should be equal to constant

**To Reproduce**
Steps to reproduce the behavior:
"@flowaccount/nx-serverless": "^1.0.0-beta.6"

**Screenshots**
![image](https://user-images.githubusercontent.com/67123849/149825591-b4035280-0d82-4bb0-a344-4a5709b2ca2a.png)

**Check which provider is affected:**
[] AWS

**Check which framework is affected:**
[]

[2022-01-20 18:01] pabitra opened #126 "[BUG] After creating monorepo blank workspace not able to create api"
**Describe the bug**
After creating monorepo blank workspace not able to create serverless lambda app I am getting below error

 nx g @flowaccount/nx-serverless:api-serverless --name=myapi --provider=aws
✔ In which directory should the serverless api be generated? · test
✔ Are you using the latest nx version? (Y/n) · true
✔ Which region do you want to default your deployment to? · ap-southeast-1
T

[2022-01-25 14:45] SquareLi commented on #123
sorry i was out for a few days. Is the invite already expired? I'm not able to find any workspace with my github email.

[2022-01-25 16:02] wickstargazer commented on #125
Could you try 1.1.2 and see? We already moved out of beta

[2022-02-04 06:55] pabitra commented on #126
No I am trying just create a new monorepo to explore the new features

[2022-02-04 11:18] wickstargazer commented on #123
branch `migrate/nx-13` is building now. need to test and make sure no effects to
- packager from stats-compilation object
- depcheck

[2022-03-10 11:02] AtlasRW commented on #125
I can confirm there is the same error with 1.1.2, and adding `useDotenv: true` in my `serverless.yml` didn't fix this, but my environment variables in my `.env` are working tho

[2022-03-11 11:32] wickstargazer commented on #126
yes and i am struggling a bit with migrating to 13. :) please be patience

[2022-03-11 11:32] wickstargazer commented on #123
now i am stuck here, while building the webpack. Anyone can help?

[code]

[2022-03-14 00:56] AtlasRW opened #131 "[FEAT] Nx-Serverless | option to exclude ALL dependencies from build"
Hi everyone, and first of all, thanks for the hard work you're putting in this project !

## Feature Request's related problem
I need to be able to exclude ALL node_modules from the build/deploy result `.zip` file, in order to keep functions as lightweight as possible (less than 1mb) while using `npm` libraries like `pg` for database queries among others, with any of those being around 500kb each,

[2022-03-14 01:18] AtlasRW commented on #131
Must precise that I found that this issue may be related to #48

[2022-03-14 08:39] AtlasRW commented on #48
About this `forceExcludes` option, it would be great to be able to exclude all `node_modules` in one line, maybe a glob pattern string array which would permit to do it like `node_modules/*` (rootDir must be the root of the workspace) or maybe a specific option about `node_modules`/`package.json` dependencies would be a great addition.

Most importantly, an option like this in `serverless.yml` wou

[2022-05-03 09:32] wickstargazer commented on #123
we need to migrate `https://github.com/flowaccount/nx-plugins/blob/migrate/nx-13/libs/nx-serverless/src/builders/build/build.impl.ts` which is using `https://github.com/flowaccount/nx-plugins/blob/migrate/nx-13/libs/nx-serverless/src/utils/run-webpack.ts` to use `https://github.com/nrwl/nx/blob/master/packages/node/src/executors/webpack/webpack.impl.ts`

[2022-09-15 06:14] TetianaNazarova opened #141 "Cannot destructure property 'name' of 'node' as it is undefined. - @flowaccount/scully-plugin-angular-delay"
I run npm install @flowaccount/scully-plugin-angular-delay --save-dev
and got this:

![image](https://user-images.githubusercontent.com/44355525/190327843-38de1eaa-26f8-42eb-b706-098dd811da6c.png)